html
  meta(name='viewport' content='width=device-width, user-scalable=no')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')

  style.
    mn-form {
      font-size: 1.2rem;
    }

    form {width: 100%}

    @media (min-width: 600px) {
      form {
        padding: 100px;
        box-sizing: border-box;
      }
    }
body
  h2 mn-form
  include github-corner

  .layout-fullscreen.layout-centered
    .layout-container
      mn-form.layout-column.layout-sm-row(spellcheck='false')
        mn-input.flex#username(placeholder='username' required)
        mn-input.flex#password(placeholder='password' type='password')
        mn-input.flex#email(placeholder='email' type='email')
        button.mn-button submit

  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-form.js')
