html
  meta(name='viewport' content='width=device-width, user-scalable=no')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')

  style.
    mn-form {
      font-size: 1.2rem;
    }

    form {width: 100%}

    @media (min-width: 600px) {
      form {
        padding: 100px;
        box-sizing: border-box;
      }
    }
body
  h2 mn-form
  include github-corner

  .mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      mn-form.mn-layout-column.mn-layout-sm-row(disable)
        mn-input.flex#username(placeholder='username' required)
        button.mn-button(type='button') simple button
        button.mn-button(type='submit') submit

  .docs.mn-layout-container
    mn-code.sh.
      npm install --save mn-form

    p And bundle dependencies and main files in <strong>dist/</strong> with your preferred tool.

    h3 usage
    p In your html, you can use the tag ```mn-form``` e.g.
    mn-code.html.
      <mn-form name='form'>
        <!-- inputs goes here -->
      </mn-form>

    p Important, the class passed to mn-form will be transfer to a form element inside mn-form
    p The following attributes from forms are supported in this component

    ul
      li: a(href='http://www.w3schools.com/tags/att_input_name.asp') name
      li: a(href='http://www.w3schools.com/tags/att_global_spellcheck.asp') spellcheck

  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-form.js')
    script.
      var mnForm = document.querySelector('mn-form')
      mnForm.onSubmit = submit

      function submit() {
        console.log('submiting')
      }
